{% extends "base/layout.jinja2" %}
{% block content %}
  <div class="well">
    {% if user and user.is_authenticated %}
      Hola user
    {% else %}
      Hola extraño {#% <a href="{{ url_for(login_view) }}">Login</a> %#}
    {% endif %}
  </div>
{% endblock %}
