{% extends "layout.jinja2" %}
{% block content %}
  Hello from index
  <div class="well">
    Param2 = {{param2}}
  </div>
  <ul>
    {%- for user in Usuarios.objects: %}
      <li><span class="glyphicon glyphicon-user"> {{ user.email }}</span> / <span class="glyphicon glyphicon-lock"> {{user.password}}</span></li>
    {%- endfor %}
  </ul>
{% endblock %}
